{% load static %}
<section id="gallery" class="gallery section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Gallery</h2>
        <p><span>Check</span> <span class="description-title">Our Gallery</span></p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
            {% include 'scripts/swiper-config.html' %}
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                             href="{% static 'assets/img/gallery/gallery-1.jpg' %}"><img
                        src="{% static 'assets/img/gallery/gallery-1.jpg' %}" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                             href="{% static 'assets/img/gallery/gallery-2.jpg' %}"><img
                        src="{% static 'assets/img/gallery/gallery-2.jpg '%}" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                             href="{% static 'assets/img/gallery/gallery-3.jpg' %}"><img
                        src="{% static 'assets/img/gallery/gallery-3.jpg '%}" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                             href="{% static 'assets/img/gallery/gallery-4.jpg' %}"><img
                        src="{% static 'assets/img/gallery/gallery-4.jpg '%}" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                             href="{% static 'assets/img/gallery/gallery-5.jpg' %}"><img
                        src="{% static 'assets/img/gallery/gallery-5.jpg '%}" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                             href="{% static 'assets/img/gallery/gallery-6.jpg' %}"><img
                        src="{% static 'assets/img/gallery/gallery-6.jpg '%}" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                             href="{% static 'assets/img/gallery/gallery-7.jpg' %}"><img
                        src="{% static 'assets/img/gallery/gallery-7.jpg '%}" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                             href="{% static 'assets/img/gallery/gallery-8.jpg' %}"><img
                        src="{% static 'assets/img/gallery/gallery-8.jpg '%}" class="img-fluid" alt=""></a></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>

</section>