{% extends 'base.html' %}
{% load livereload_tags %}
{% load static %}
{% block content %}

<main class="main">

    <!-- Hero Section -->
    {% include 'components/hero.html' %}
    <!-- /Hero Section -->

    <!-- About Section -->
    {% include 'components/about.html' %}
    <!-- /About Section -->

    <!-- Why Us Section -->
    {% include 'components/whyus.html' %}
    <!-- /Why Us Section -->

    <!-- Stats Section -->
    {% include 'components/stats.html' %}
    <!-- /Stats Section -->

    <!-- Menu Section -->
    {% include 'components/menu.html' %}
    <!-- /Menu Section -->

    <!-- Testimonials Section -->
    {% include 'components/testimonials.html' %}
    <!-- /Testimonials Section -->

    <!-- Events Section -->
    {% include 'components/events.html' %}
    <!-- /Events Section -->

    <!-- Chefs Section -->
    {% include 'components/chefs.html' %}
    <!-- /Chefs Section -->

    <!-- Book A Table Section -->
    {% include 'components/book_a_table.html' %}
    <!-- /Book A Table Section -->

    <!-- Gallery Section -->
    {% include 'components/gallery.html' %}
    <!-- /Gallery Section -->

    <!-- Contact Section -->
    {% include 'components/contact.html' %}
    <!-- /Contact Section -->

</main>

{% endblock %}